/* default price display */
.price {white-space: nowrap;}
.price .currency {text-align: left; font-style: italic;}
.price .amount {text-align: right;}

/* checkout form */
.formrow {clear:both; width: 100%; margin: 0; padding: 0 0 0.5em;}
.formrow label {float: left; clear:both; width: 30%; vertical-align: top;}
.formrow .description {float: left; clear:both; width: 60%; margin: 0.5em 0 0.5em 30%; vertical-align: top; color: #aaa;}
.formrow input, .formrow textarea, .formrow .button {float: left; clear:none; width: 40%;}
.formrow_radios label {float: left; clear:none; width: 30%;}
.formrow_radios label.radio_item_label {float: left; clear:none; width: 18%; border: 1px solid #eee; padding: 1%; margin-right: 1%; min-height: 4em; text-align: center;}
.radio_item_label span, .radio_item_label input {float: left; clear:both; width: 100%;}
.formrow_submit .button {width: auto;}
.haserror {color: #a00; border-color: #a00; border-width: 1px; background-color: #fec;}
.formrow_radios.haserror {background: transparent;}
.errormessage {float: left; clear:both; width: 60%; margin: 0.5em 0 0.5em 30%; vertical-align: top; color: #a00;}

/* add to cart buttons and forms */
.buythislabel {float: left; clear: both; width: 100%;}
.buythislabel span {float: left; clear: none;}
.buythislabel input, .buythislabel select {float: right; clear: none;}
input.productamount {width: 20px;}

/* normal and full cart view */
table.cart, table.totals {width: 100%;}
table.cart tr td, table.cart tr th, table.totals tr td, table.totals tr th {padding: 2px 1px;}
tr.odd {background-color: #eee;}
tr.even {}
tr.header {background-color: #dedede; font-weight: bold;}
td.producttitle {width: 30%;}

/* form in cart table */
td.updateform label.buythislabel {float: left; clear: none; width: auto;}
td.updateform input.productamount {float: left; clear: left;}

/* nice buttons everywhere */
/* http://www.cssbutton.me */
.buythisbutton,
.continuebutton,
.checkoutbutton,
button.button,
a.removelink {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 5px;
    display: block;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    text-decoration: none;
}
.buythisbutton,
.continuebutton,
.checkoutbutton,
button.button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6d14c), color-stop(100%,#83a01c));
    background: -moz-linear-gradient(center top, #b6d14c 0%, #83a01c 100%);
    -webkit-box-shadow: 0px 1px 0px 0px #d1f25a inset, 0px -1px 0px 0px #99bc27 inset, 0px 2px 2px 0px #d4d4d4;
    -moz-box-shadow: 0px 1px 0px 0px #d1f25a inset, 0px -1px 0px 0px #99bc27 inset, 0px 2px 2px 0px #d4d4d4;
    box-shadow: 0px 1px 0px 0px #d1f25a inset, 0px -1px 0px 0px #99bc27 inset, 0px 2px 2px 0px #d4d4d4;
    border-color: #97b134;
    color: #FFFFFF;
}
.buythisbutton:hover,
.continuebutton:hover,
.checkoutbutton:hover,
button.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbda4c), color-stop(100%,#83a01d));
    background: -moz-linear-gradient(center top, #bbda4c 0%, #83a01d 100%);
    color: #FFFFFF;
    text-decoration: none;
}
.buythisbutton:active,
.continuebutton:active,
.checkoutbutton:active,
button.button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83a01d), color-stop(100%,#a7c248));
    background: -moz-linear-gradient(center top, #83a01d 0%, #a7c248 100%);
    -webkit-box-shadow: 0px 1px 0px 0px #a3c229 inset;
    -moz-box-shadow: 0px 1px 0px 0px #a3c229 inset;
    box-shadow: 0px 1px 0px 0px #a3c229 inset;
}
a.removelink {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf6f4c), color-stop(100%,#9e6a1d));
    background: -moz-linear-gradient(center top, #cf6f4c 0%, #9e6a1d 100%);
    -webkit-box-shadow: 0px 1px 0px 0px #f09c5b inset, 0px -1px 0px 0px #ba6227 inset, 0px 2px 2px 0px #d4d4d4;
    -moz-box-shadow: 0px 1px 0px 0px #f09c5b inset, 0px -1px 0px 0px #ba6227 inset, 0px 2px 2px 0px #d4d4d4;
    box-shadow: 0px 1px 0px 0px #f09c5b inset, 0px -1px 0px 0px #ba6227 inset, 0px 2px 2px 0px #d4d4d4;
    border-color: #cf6f4c;
    color: #FFFFFF;
}
a.removelink:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf6f4c), color-stop(100%,#9e401e));
    background: -moz-linear-gradient(center top, #cf6f4c 0%, #9e401e 100%);
    color: #FFFFFF;
    text-decoration: none;
}
a.removelink:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e5a1e), color-stop(100%,#c27e4a));
    background: -moz-linear-gradient(center top, #9e5a1e 0%, #c27e4a 100%);
    -webkit-box-shadow: 0px 1px 0px 0px #c2672b inset;
    -moz-box-shadow: 0px 1px 0px 0px #c2672b inset;
    box-shadow: 0px 1px 0px 0px #c2672b inset;
}