/* default price display */
.price {white-space: nowrap;}
.price .currency {text-align: left; font-style: italic;}
.price .amount {text-align: right;}

/* checkout form */
.formrow {clear:both; width: 100%; margin: 0; padding: 0 0 0.5em;}
.formrow label {float: left; clear:both; width: 30%; vertical-align: top;}
.formrow .description {float: left; clear:both; width: 60%; margin: 0.5em 0 0.5em 30%; vertical-align: top; color: #aaa;}
.formrow input, .formrow textarea, .formrow .button {float: left; clear:none; width: 40%;}
.formrow_radios label {float: left; clear:none; width: 30%;}
.formrow_radios label.radio_item_label {float: left; clear:none; width: 18%; border: 1px solid #eee; padding: 1%; margin-right: 1%; min-height: 4em; text-align: center;}
.radio_item_label span, .radio_item_label input {float: left; clear:both; width: 100%;}
.formrow_submit .button {width: auto;}
.haserror {color: #a00; border-color: #a00; border-width: 1px; background-color: #fec;}
.formrow_radios.haserror {background: transparent;}
.errormessage {float: left; clear:both; width: 60%; margin: 0.5em 0 0.5em 30%; vertical-align: top; color: #a00;}

/* add to cart buttons and forms */
.buythislabel {float: left; clear: both; width: 100%;}
.buythislabel span {float: left; clear: none;}
.buythislabel input, .buythislabel select {float: right; clear: none;}
input.productamount {width: 20px;}

/* normal and full cart view */
table.cart, table.totals {width: 100%;}
table.cart tr td, table.cart tr th, table.totals tr td, table.totals tr th {padding: 2px 1px;}
tr.odd {background-color: #eee;}
tr.even {}
tr.header {background-color: #dedede; font-weight: bold;}
td.producttitle {width: 30%;}

/* form in cart table */
td.updateform label.buythislabel {float: left; clear: none; width: auto;}
td.updateform input.productamount {float: left; clear: left;}

/* hide continue link in sidebars */
.shoppingcartcontainer .continue_shopping {
    display: none;
}

/* nice buttons everywhere */
/* http://www.cssbutton.me */
.continue_shopping,
.buythisbutton,
.continuebutton,
.checkoutbutton,
button.button,
a.removelink {
    border-radius: 3px;
    padding: 2px 5px;
    margin-bottom: 2px;
    display: block;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}
input.button {
    padding: 0px 5px;
}
button.button {
    padding: 0 5px 1px 5px;
}
/* positive action*/
.buythisbutton,
.continuebutton,
.checkoutbutton,
button.button {
    background: #83a01c;
    border-color: #97b134;
    color: #FFFFFF;
}
.buythisbutton:hover,
.continuebutton:hover,
.checkoutbutton:hover,
button.button:hover {
    background: #bbda4c;
    color: #FFFFFF;
    text-decoration: none;
}
.buythisbutton:active,
.continuebutton:active,
.checkoutbutton:active,
button.button:active {
    background: #a7c248;
}
/* neutral action */
a.continue_shopping {
    background: #aaa;
    border-color: #DEDEDE;
    color: #FFFFFF;
}
a.continue_shopping:hover {
    background: #DEDEDE;
    color: #555;
    text-decoration: none;
}
a.continue_shopping:active {
    background: #DEDEDE;
    color: #aaa;
}
/* negative action */
a.removelink {
    background: #9e6a1d;
    border-color: #cf6f4c;
    color: #FFFFFF;
}
a.removelink:hover {
    background: #9e401e;
    color: #FFFFFF;
    text-decoration: none;
}
a.removelink:active {
    background: #c27e4a;
}